<div class="image_uploads">
<%= form_tag({:action => 'save_slideshow_image'}, :multipart => true) %>
<p><label for="upload_file">Select File</label> :
<%= file_field 'upload', 'datafile' %><%= submit_tag "Upload" %></p>
</div>
