// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_uploads {
    background :#F9F9F9;
    padding :2px 5px;
    margin :5px 0;
}
.image_uploads file_field {
    background :#555;
}
.image_uploads input {
    font-size :10px;
}