<div id="sidelinks">
  <div class="header">Find out More :</div>
  <ul>
    <li><%=link_to 'About Showtime', :action => 'about_showtime' %></li>
    <li><%=link_to 'Getting Started', :action => 'getting_started', :remote => true %></li>
    <li><%=link_to 'Terms & Conditions', :action => 'terms_conditions' %></li>
  </ul>
</div>