<div class="category_items_header">
  <span class="category_title">About Showtime</span>
</div>
<div id="about_us">
<p>
Showtime Home Video is a wholly owned Zimbabwean Company, founded in 2008.
The DVD Store was formed to offer a source of Entertainment to all entertainment enthusiasts.
</p>
<p>
  We sell the following:
</p>
<ul>
  <li>DVD Movies</li>
  <li>TV Series</li>
  <li>Blue-Rays</li>
  <li>Video Games</li>
</ul>

<p>
  Showtime Home Video is located at the given address below:
</p>
<p class="contacts">
Shop 11B Market Place<br/>
Westgate Complex<br/>
Westgate<br/>
Harare<br/>
Zimbabwe
</p>
<br/>
<p>
For more information, contact us on the numbers given below or email us:
</p>
<p class="contacts">Phone Number : </p>
<p class="contacts">Mobile Number : +263 77 309 7742 or +263 77 308 6364</p>
<p class="contacts">Email Address : info@showtime.co.zw</p>
<br/>
<p>
We are open daily from <b>0900hrs</b> to <b>2000hrs</b> (9am to 8pm)
</p>
</div>