<div class="category_items_header">
  <span class="category_title">Sign up Form</span>
</div>
<p style="background:#DCEEF7; padding: 2px 0 2px 18px; font-size: 12px; text-align: left; width: 95%; margin: 5px 0 ">
  Sign up currently for Econet Zimbabwe Subscribers Only.
</p>

<p></p>
<div id="user_sign_in">

<%= render 'form' %>

</div>
