<div id="about_us">
<h2>Getting Started</h2>
<p>
  Showtime Home Video Online Store is a state of the art ECommerce website offering the browsing, buying and
  making payments online. The store offers a list of movies that can be bought online, a customer's
  shopping cart and a form to place the order and make the payments. Customers can make their payments
  via ECOCASH and other gateways available when placing an order.
</p>
<h3>New Customer Sign Up & Sign in</h3>
<p>
<ul>
<li>Browsing and buying movies on Showtime Home Video Online Store is easy.</li>
<li>You can only place any order if you have an account with Showtime Home Video, and to obtain that account is easy,
because its all done here online.
</li>
<li>
  On your left side click the button <%= link_to 'Create Account', :action => 'new_user' %>
</li>
<li>
  Enter your personal details, a valid email address and choose a password and re-enter it to confirm they match.
</li>
<li>
  It is highly recommended that you read the terms & conditions before you create account.<br/>
  Click on Sign Up to submit your details for processing. If your details has been successfully submitted, a message
  confirming the success will appear on the home page, instructing you that a link to activate your account has been sent
  to your email address (the email address you provided). You can only login successfully if your account has been activated.
</li>
<li>
  If you have successfully activated your account, click Sign in to log into Showtime Home Video Online Store, this will grant you
  the permissions to place orders and buy movies added to your cart. After you have finished all your transactions, it is highly recommended
  that you log out or Sign Out.
</li>
</ul>
</p>
<h3>How to Buy Movies</h3>
<p>
<ul type="1">
  <li>Browse and find the movie(s) you want to buy.</li>
  <li>
    Click the Add to Cart button to add movies to your cart or basket.
    NB: Your cart is shown on the left side as (0 items) Your cart is Empty! when the cart is empty and shows the number of items in your cart if you add something.
  </li>
  <li>As you add more movies, your cart increases by the quantity or number of movies you add.</li>
</ul>
</p>
<h3>Placing an Order</h3>
<p>
<ul type="">
  <li>
    After you have finished adding movies to your cart (basket) click on Checkout. Checkout will take you
    to the order form were you enter your details, choose the payment gateway to use, and place the order.
  </li>
  <li>
    Choose either you want to collect the movies from our shop or you want the movies delivered. The prices
    of the two differ, collection has a normal price and delivery has an extra transport cost for delivering the product.
  </li>
  <li>
    NB: Perform your transaction as instructed before you place your order. All orders placed without a corresponding
    payment will not be processed unless the payment with the right amount is confirmed.
  </li>
</ul>
</p>
</div>
