<h2>Getting Started</h2>
<p>
  A brief into here
</p>
<h3>How to Buy Movies</h3>
<p>
  Buying movies online is made easy with Showtime Online.
<ul>
  <li>Browse and find the movie(s) you want to buy.</li>
  <li>Click the Add to Cart button to add movies to your cart or basket.</li>
    NB: Your cart is shown on the right side as (0 items) Your cart is Empty! if the cart is empty and shows the number of items in your cart if you add something.</li>
  <li>As you add movies, your cart increases by the number of movies you buy.</li>
  <li>After you are done adding movies to your cart (basket) go on to Checkout. </li>
  Checkout is where you make your payment e.g Checkout is the Till Point where you pay online.
  <li></li>
</ul>
</p>
